
{% extends 'parent.html' %}
{% block active %}active-menu{% endblock %}
{% block title %}برچسب ها {% endblock %}
{% block way %}
            <a href="{% url 'dashboard' %}" class="item mr-2">پیشخوان</a>
            <a href="{% url 'tag' %}" class="item mr-2">برچسب ها (تگ ها)</a>
{% endblock %}
    {% block content %}
        <!--Topic Of Content-->
        <div class="topic-content">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <span style="width: 30px;height: 30px;background-color: var(--backgroung-color);border-radius: 50%" class="d-flex align-items-center justify-content-center ml-3">
                        <i class="fas fa-tag ml-3"></i>
                     </span>
                    <h5>افزودن برچسب (تگ)</h5>
                </div>
            </div>
        </div>

        <!--========================= Form =========================-->
        <form action="{% url 'tag' %}" method="POST">
        {% csrf_token %}
            <div class="row my-4">

                <!-- Name -->
                <div class="form-group col-md-3">
                    <label for="">عنوان</label>
                    <input type="text" name="name" id="" class="form-control">
                </div>

                <!-- Description -->
                <div class="form-group col-md-6">
                    <label for="">توضیحات</label>
                    <input type="text" name="description" id="" class="form-control">
                </div>

                <!-- Parent -->
                <div class="form-group col-md-3">
                    <label for="" style="margin-top: 16px"></label>
                    <input type="submit" value="ثبت" class="btn submit-btn form-control">
                </div>
            </div>
        </form>

        <!--Topic Of Content-->
        <div class="topic-content my-4">
            <div class="d-flex align-items-center">
                <span style="width: 30px;height: 30px;background-color: var(--backgroung-color);border-radius: 50%" class="d-flex align-items-center justify-content-center ml-3">
                <i class="fas fa-tags ml-3"></i>
             </span>
                <h5>برچسب ها</h5>
            </div>
        </div>

        <!--Search-->
        <input type="text" class="form-control mb-3" placeholder="جستجو در برچسب ها ...">

        <!--========================= Table =========================-->
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">عنوان</th>
                <th scope="col">توضیحات</th>
                <th scope="col">تنظیمات</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}

                <tr>
                    <td class="">{{ tag.name }}</td>
                    <td class="font-weight-light">{{ tag.description }}</td>
                    <td>
                        <a href="{% url 'update_tag' tag.id %}" class="btn btn-sm btn-warning">ویرایش</a>
                        <a href="{% url 'delete_tag' tag.id %}" class="btn btn-sm btn-outline-danger">حذف</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endblock %}
