{% extends 'parent.html' %}
{% block active %}active-menu{% endblock %}
{% block title %} انتشارات {% endblock %}
{% block way %}
            <a href="{% url 'dashboard' %}" class="item mr-2">پیشخوان</a>
            <a href="{% url 'sound' %}" class="item mr-2">ویدئو </a>
    <a href="{% url 'sound' %}" class="item mr-2">ویرایش  {{ sound.title }} </a>
{% endblock %}
    {% block content %}
        <div class="topic-content mb-4">
            <div class="d-flex align-items-center ">
                <span style="width: 30px;height: 30px;background-color: var(--backgroung-color);border-radius: 50%" class="d-flex align-items-center justify-content-center ml-3">
                    <i class="fas fa-video ml-3"></i>
                </span>
                <h5>ویرایش صوت</h5>
            </div>
            <a href="{% url 'sound' %}" class="btn btn-sm return-btn">بازگشت</a>
        </div>

        <!--=========================== Form =========================== -->

            <form action="{% url 'update_sound' sound.id %}" method="POST">
            {% csrf_token %}
            <div class="row">

                <!-- Name -->
                <div class="form-group col-md-3">
                    <label for="">عنوان</label>
                    <input type="text" class="form-control" value="{{ sound.title }}" name="title" id="" >
                </div>

                <!-- Teacher -->
                <div class="form-group col-md-3">
                    <label for="">مدرس</label>
                    <input type="text" class="form-control" value="{{ sound.teacher }}" name="teacher" id="" >
                </div>

                <!-- Product -->
                <div class="form-group col-md-3">
                    <label for="">محصول مورد نظر</label>
                    <select class="form-control select2" name="product" id="">
                        <option value=""></option>
                        {% for product in products %}
                            {% if product.id == sound.productId %}
                                <option value="{{ product.id }}" selected>{{ product.product_name }}</option>
                            {% else %}
                                <option value="{{ product.id }}">{{ product.product_name }}</option>
                            {% endif %}

                        {% endfor %}
                    </select>
                </div>

                <!-- Teacher -->
                <div class="form-group col-md-3">
                    <label for="">تاریخ انتشار صدا</label>
                    <input type="text" class="form-control" value="{{ sound.publish_date }}" name="publish_date" id="datepicker">
                </div>

                 <div class="form-group col-md-3">
                    <label for="">مدت زمان صدا</label>
                    <input type="text" class="form-control" value="{{ sound.time_duration }}" name="time_duration" id="" >
                </div>
                <div class="form-group col-md-3">
                    <label for="">زبان صدا</label>
                    <input type="text" class="form-control" value="{{ sound.language }}" name="language" id="" >
                </div>
                <!-- Teacher -->
                <div class="form-group col-md-6">
                    <label for="">فایل (صدا)</label>
                    <input type="file" class="form-control" name="video_file">
                </div>

            </div>

            <div class="row">
                <!-- Submit -->
                <div class="form-group col-md-2">
                    <label for=""></label>
                    <input type="submit" class="form-control submit-btn" value="ثبت">
                </div>
            </div>

        </form>

{% endblock %}
  {% block script %}
<script>

    $(document).ready(function () {


        $('.select2').select2({

        });


         $("#datepicker").datepicker({
             dateFormat: "yy/m/d",
            minDate: 0,
            maxDate: "+100D"
         });

    })

</script>
{% endblock %}