{% extends 'parent.html' %}
{% block active %}active-menu{% endblock %}
{% block title %} کتاب ها {% endblock %}
{% block way %}
            <a href="{% url 'dashboard' %}" class="item mr-2">پیشخوان</a>
            <a href="{% url 'video' %}" class="item mr-2">کتاب </a>
{% endblock %}
    {% block content %}

        <div class="topic-content">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <span style="width: 30px;height: 30px;background-color: var(--backgroung-color);border-radius: 50%" class="d-flex align-items-center justify-content-center ml-3">
                        <i class="fas fa-video ml-3"></i>
                     </span>
                    <h5>افزودن کتاب</h5>
                </div>
            </div>
        </div>


        <!--Topic Of Content-->
        <div class="topic-content mb-4">
            <form action="{% url 'book' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">

                <!-- Name -->
                <div class="form-group col-md-3">
                    <label for="">عنوان</label>
                    <input type="text" class="form-control" name="title" id="" >
                </div>

                <!-- Teacher -->
                <div class="form-group col-md-3">
                    <label for="">مدرس</label>
                    <input type="text" class="form-control" name="teacher" id="" >
                </div>

                <!-- Product -->
                <div class="form-group col-md-3">
                    <label for="">محصول مورد نظر</label>
                    <select class="form-control select2" name="product" id="">
                        <option value=""></option>
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.product_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Teacher -->
                <div class="form-group col-md-3">
                    <label for="">تاریخ انتشار کتاب</label>
                    <input type="text" class="form-control" name="publish_date" id="datepicker">
                </div>

                 <div class="form-group col-md-3">
                    <label for="">تعداد صفحات کتاب</label>
                    <input type="text" class="form-control" name="page_count" id="" >
                </div>
                <div class="form-group col-md-3">
                    <label for="">زبان کتاب</label>
                    <input type="text" class="form-control" name="language" id="" >
                </div>
                <!-- Teacher -->
                <div class="form-group col-md-6">
                    <label for="">فایل (کتاب)</label>
                    <input type="file" class="form-control" name="book_file">
                </div>

            </div>

            <div class="row">
                <!-- Submit -->
                <div class="form-group col-md-2">
                    <label for=""></label>
                    <input type="submit" class="form-control submit-btn" value="ثبت">
                </div>
            </div>

        </form>
        </div>

        <!--Search-->
        <input type="text" class="form-control mb-3" placeholder="جستجو در کتاب ها...">

        <!--========================= Table =========================-->
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">عنوان</th>
                <th scope="col">مدرس</th>
                <th scope="col">تاریخ انتشار</th>
                <th scope="col">حجم فایل</th>
                <th scope="col">تعداد صفحات</th>
                <th scope="col">زبان</th>
                <th scope="col">تنظیمات</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td class="d-flex align-items-center">
                        <i class="fas fa-grip-vertical ml-1"></i>
                        <span>{{ book.title }}</span>
                    </td>
                    <td class="font-weight-light">{{ book.teacher }}</td>
                    <td>{{ book.publish_date }}</td>
                    <td>
                        <span class="alert-dark" style="padding: 2px 10px;border-radius: 3px">{{ book.size }}</span>
                    </td>
                    <td>{{ book.page_count }}</td>
                    <td class="font-weight-bold">
                        <span style="background-color:#F5F5F5;padding: 2px 10px;border-radius:3px">{{ book.language }}</span>
                    </td>
                    <td>
                        <a href="{% url 'update_book' book.id %}" class="btn btn-sm btn-warning">ویرایش</a>
                        <a href="{% url 'delete_book' book.id %}" class="btn btn-sm btn-outline-danger">حذف</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
{% endblock %}

{% block script %}
    <script>

    $(document).ready(function () {


        $('.select2').select2({

        });


        $("#datepicker").datepicker({
            dateFormat: "yy/m/d",
            minDate: 0,
            maxDate: "+100D"
        });

    })

</script>
{% endblock %}

